body{
    background-color: #303841;
    margin: 0%;
    padding: 0;
  }

#head {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
  }

#details{
    color:#eeeeee;
    height: 100%;
}

#details,#solution{
  flex: 0 1 200px;
  margin: 30px 10px 0 ;
}
button{
    width: max(80px,10vw);
    height: 30px;
    color: #303841;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    background-color: #eeeeee;
}

button:hover{
  background-color: #d6e6f2;
}

select{
  color: #303841;
}

#solution {
    display: grid;
    height:clamp(150px,25vh,245px);
    width: clamp(145px,24vw,245px);
    background-color: gray;
    border-radius: 1rem;
    padding: 0.5rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0.15rem;
  }

  .cen{
      display: grid;
      place-items: center;
  }

  #container {
    display: grid;
    height: 45vh;
    width:max(35vw,360px);
    background-color: gray;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 0.15rem;
    border-radius:1rem;
    margin: 5vh 20px;
    padding: 0.5rem;
    justify-content: stretch;
  }

  .five {
    background-color: gray;
  }

  .five,.three,.threecrosssolution,.fourcrosssolution,.six{
    border-radius:0.5rem;
  }


  @media (max-width:360px){
    #container{
      margin: 20px 0 0 0;
      width: 90vw;
    }
  }