body{
    background-color: #1e2022;
  }

#head {
    height: 25vh;
    width: 90vw;
    display: flex;
    margin: 5vh 5vw;
    padding: 0;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
  }

#details{
    color:white;
}

button{
    width: max(100px,10vw);
}

#solution {
    display: grid;
    height:24vh;
    width: clamp(145px,24vw,245px);
    background-color: gray;
    border-radius: 1rem;
    padding: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.15rem;
    margin: 5px;
  }

  .cen{
      display: flex;
      justify-content: center;
  }

  #container {
    display: grid;
    height: 60vh;
    width:clamp(350px,60vw,545px);
    background-color: gray;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.15rem;
    border-radius:1rem;
    margin: 10vh 20vw;
    padding: 0.5rem;
    justify-content: stretch;
  }

  .five {
    background-color: gray;
  }

  .five,.three,.threecrosssolution{
    border-radius:1rem;
  }
